.card-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  gap: 16px; /* Space between the cards */
  padding: 20px;
  justify-content: center; /* Align items horizontally in the center */
}

.card-container .product-card {
  flex: 1 1 250px; /* Allow the card to grow and shrink, with a base width of 250px */
  max-width: 300px; /* Prevent cards from getting too wide */
}

.product-card {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-info {
  padding: 16px;
}

.product-name {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 8px;
}

.product-price {
  font-size: 1.125rem;
  color: #888888;
}

.add-to-cart-btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}

.add-to-cart-btn:focus {
  outline: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Darker semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal is on top of other elements */
}

.modal-content {
  background-color: transparent;
  position: relative;
  text-align: center;
}

.modal-image {
  max-width: 90%; /* Limit max width of the image */
  max-height: 90vh; /* Limit max height of the image */
  object-fit: contain; /* Keep the aspect ratio of the image */
}

.close-button {
  position: absolute;
  top: 20px;
  right: 50px;
  background-color: #007bff; /* Blue background */
  color: white; /* White font color */
  border: none; /* Remove default border */
  font-size: 20px; /* Set font size (adjust for better centering) */
  width: 40px; /* Set width of the circle */
  height: 45px; /* Set height of the circle */
  border-radius: 50%; /* Make the button round */
  display: flex;
  justify-content: center; /* Center the "X" inside the circle */
  align-items: center; /* Center the "X" inside the circle */
  cursor: pointer; /* Pointer cursor on hover */
}

.close-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
