.button-container {
  width: 100%;
  background: transparent;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.custom-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition:
    background 0.3s ease,
    transform 0.2s ease;
}

.custom-btn:hover {
  background-color: #0056b3;
}

.custom-btn.active {
  background-color: #004494;
  transform: scale(0.98);
  box-shadow: 0 0 10px rgba(0, 91, 187, 0.5);
}
