* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body > #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #007bff;
  padding: 15px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-container {
  flex-grow: 1;
  background-color: transparent;
  height: 100%;
}

.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: auto;
}

.empty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 800;
  color: GrayText;
}
